<div class="grid fluid content">
    <div class="col-12">
        <div class="card">
            <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>

            <p-toast position="top-right" [life]="5000"></p-toast>
            <div class="card-header">
                <h1>process-executions-main works!</h1>

            </div>
            <!-- Nueva sección para la p-table -->
            <div class="card-body">
                <div class="col-12" *ngIf="datasource && datasource.length > 0">
                    <p-panel header="Monitor" [toggleable]="true">
                        <p-table #Logs [columns]="LogsCampos" [value]="datasource" [rowHover]="true" [rows]="10"
                            [showCurrentPageReport]="true" [loading]="loading" [paginator]="true"
                            currentPageReportTemplate="Mostrar {first} hasta {last} de {totalRecords} datos"
                            [filterDelay]="0" [resizableColumns]="true" [responsive]="true" [autoLayout]="true"
                            [globalFilterFields]="LogsCampos.field" styleClass="tabla" *ngIf="Logsview"
                            sortMode="multiple" [multiSortMeta]="multiSortSegmento" [reorderableColumns]="true">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <button pButton label="Limpiar" class="p-button-outlined custom-button"
                                        icon="pi pi-filter-slash" (click)="clear(datos)">
                                    </button>
                                    <span class="p-input-icon-left p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                                            placeholder="Filtrar" class="custom-filter-button" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        <p-columnFilter type="text" [field]="col.field"></p-columnFilter>
                                    </th>
                                </tr>
                                <tr>
                                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}" pReorderableColumn>
                                        {{col.field}}
                                        <p-sortIcon field="{{col.field}}">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
                            </ng-template>
                        </p-table>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>

</div>