<div class="grid fluid content">
    <div class="col-12">
        <div class="card">
            <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>

            <p-toast position="top-right" [life]="5000"></p-toast>
            <div class=" col-sm-12">

                <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" (onChange)="handleChange($event)">

                    <p-tabPanel header="Atributos">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,1)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,1)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-texto.svg" width="45px" alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(1)">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(1)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(1)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Categoria Subrubros">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,2)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,2)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files2; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-texto.svg" width="45px" alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(2)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(2)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(2)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Cristerio Envio SAP">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,3)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,3)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files3; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(3)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(3)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(3)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Definicion Ejecución Procesos Analiticos">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,4)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,4)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files4; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(4)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(4)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(4)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Promociones Cruzadas">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,5)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,5)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files5; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(5)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(5)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(5)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Cierre locales domingo">
                        <div class="card-body">
                            <div class="grid">


                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,6)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,6)" />
                                        <img src="/Monitor/assets/img/dnd/ic-texto.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files6; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(6)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">


                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(6)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(6)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Categorias Bloque1">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,7)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,7)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files7; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(7)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(7)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(7)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Productos y tiendas espejo">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,8)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,8)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files8; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(8)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(8)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(8)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Eventos">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,9)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,9)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files9; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(9)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(9)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(9)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="RAPEL">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,10)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,10)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files10; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(10)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(10)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(10)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="ILA">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,10)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,11)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files11; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(11)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(11)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(11)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Parametros por defecto simulador">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,10)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,12)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files12; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(12)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(12)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(12)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Reprocesos analiticos">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="container" appDnd (fileDropped)="onFileDropped($event,10)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event,13)" />
                                        <img src="/Monitor/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files13; let i = index">
                                            <img src="/Monitor/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">{{ file?.name }}</h4>
                                                <p class="size">{{ formatBytes(file?.size) }}</p>
                                            </div>
                                            <img src="/Monitor/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(13)">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Subir datos"
                                                    (click)="cargarInput(13)"></button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group p-fluid">
                                                <button pButton type="button" label="Descargar"
                                                    (click)="Download(13)"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-tabPanel>
                </p-tabView>
                <!-- Nueva sección para la p-table -->

                

                <div class="card-body">

                    <div class="col-12">
                        <div class="grid">
                            <div *ngFor="let clave of clavesDatos" class="col-2" >
                                <div  class="form-group p-fluid">
                                    
                                    <button pButton type="button" label="{{ clave.replace('datos', 'hoja') }}"
                                        (click)="actualizarTabla(clave)"></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12" *ngIf="datasource && datasource.length > 0">
                        <p-panel header="Datos Archivos" [toggleable]="true">
                            <p-table #datos [columns]="fieldCampos" [value]="datasource" [rowHover]="true" [rows]="10"
                                [showCurrentPageReport]="true" [loading]="loading" [paginator]="true"
                                currentPageReportTemplate="Mostrar {first} hasta {last} de {totalRecords} datos"
                                [filterDelay]="0" [resizableColumns]="true" [responsive]="true" [autoLayout]="true"
                                [globalFilterFields]="fieldCampos.field" styleClass="tabla" *ngIf="Fieldview"
                                sortMode="multiple" [reorderableColumns]="true">
                                <ng-template pTemplate="caption">
                                    <div class="flex">
                                        <button pButton label="Limpiar" class="p-button-outlined custom-button"
                                            icon="pi pi-filter-slash" (click)="clear(datos)">
                                        </button>
                                        <span class="p-input-icon-left p-ml-auto">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="applyFilterGlobal($event, 'contains')" placeholder="Filtrar"
                                                class="custom-filter-button" />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            <p-columnFilter type="text" [field]="col.field"></p-columnFilter>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                            pReorderableColumn>
                                            {{col.field}}
                                            <p-sortIcon field="{{col.field}}">
                                            </p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
                                </ng-template>
                            </p-table>
                        </p-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>