<div class="grid fluid content">
    <div class="col-12">
        <div class="card">
            <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>

            <p-toast position="top-right" [life]="5000"></p-toast>
            <div class=" col-sm-12">

                <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" (onChange)="handleChange($event)">

                    <p-tabPanel header="Reglas">
                        <div class="card-body">
                            <p-panel header="Reglas" [toggleable]="true">
                                <div class="grid fluid content">
                                    <!-- ... Resto del código ... -->
                                    <p-accordion *ngIf="procesos.length">
                                        <p-accordion *ngIf="procesos.length">
                                            <p-accordionTab *ngFor="let proceso of procesos"
                                                header="{{proceso.nombre}}">
                                                <div *ngFor="let regla of proceso.reglas" class="regla-container">
                                                    <div class="regla-info">
                                                        <h5>{{regla.nombre}}</h5>
                                                        <p-dropdown [options]="regla.opciones"
                                                            [(ngModel)]="regla.valorSeleccionado"
                                                            placeholder="Seleccionar estado"
                                                            (onChange)="cambiarEstadoRegla(regla, proceso.nombre)">
                                                        </p-dropdown>
                                                    </div>
                                                    <!-- Mostrar la descripción aquí, fuera del <p-dropdown> -->
                                                    <p class="regla-descripcion">{{ regla.descripcion }}</p>
                                                </div>
                                            </p-accordionTab>
                                        </p-accordion>
                                    </p-accordion>
                                </div>


                            </p-panel>

                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Reproceso">
                        <div class="card-body">
                            <app-reprocess-main></app-reprocess-main>
                        </div>

                    </p-tabPanel>

                </p-tabView>

            </div>
        </div>
    </div>

</div>