<div class="grid fluid content">
    <div class="col-12">
        <div class="card">
            <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>

            <p-toast position="top-right" [life]="5000"></p-toast>
            <div class=" col-sm-12">

                <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" (onChange)="handleChange($event)">

                    <p-tabPanel header="Atributos">
                        <div class="card-body">
                            <div class="grid">
                                

                            </div>
                        </div>

                    </p-tabPanel>
                    
                </p-tabView>
                
            </div>
        </div>
    </div>

</div>